<?xml version="1.0"?>
<robot name="kuka_kr6r900sixx" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find kuka_kr6_support)/urdf/kr6r900sixx_macro.xacro" />
  <xacro:include filename="$(find kuka_kr6_support)/urdf/kr6r900sixx.ros2_control.xacro" />

  <xacro:kuka_kr6r900sixx prefix=""/>
  <xacro:kuka_kr6r900sixx_system_position name="kr6r900sixx" />
</robot>
